{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<style>
  img {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .titlebox {
    background-color: #fafafa;
    color: #333333;
  }
  .mainbutton {
    background-color: #415E80;
    color: white;
  }
</style>

<!-- <div class="page-header">
  <h1>Sticky footer with fixed navbar</h1>
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p> -->
<div class="container-fluid">
  <br/><br/><br/>
  <div class="jumbotron titlebox">
    <h1>Let's Beat Coronavirus with Knowledge.</h1>
    <br>
    <p class="lead" style="font-weight: 350">In the current pandemic of Coronavirus (COVID-19), it's important to stay informed and up-to-date with all of the latest information about Coronavirus. 
      This website gives you just that, including a daily 1-minute digest of the news, coronavirus trends and plots, health tips, and financial information.
      We can beat coronavirus together by learning about the Coronavirus, because knowledge is power.
    </p>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h2>Daily Digest</h2>
      <p class="lead" style="font-weight: 300; font-size:large;">
        {{ digestPreview }}...
        <br/><br/>
      </p>
      <p><a href="{{url_for('digest')}}" target="_blank" class="btn mainbutton">Read More »</a></p>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-4">
          <h2>World Plot</h2>
          <p>See the current status of coronavirus throughout the world, powered by modern visualization tools.</p>
          <img src="/static/img/coronavirusWorldScreenshot.png" alt="World plot screenshot">
          <p><a href="{{url_for('worldmap')}}" target="_blank" class="btn mainbutton">View »</a></p>
      </div>
      <div class="col-md-4">
          <h2>Coronavirus Insights</h2>
          <p>View our predictions of the latest coronavirus outbreaks and other related trends using advanced statistical models.</p>
          <p><a href="{{url_for('coronavirus_cases')}}" target="_blank" class="btn mainbutton">Learn
              More »</a></p>
      </div>
      <div class="col-md-4">
          <h2>Finance</h2>
          <p>Tool to keep track of financial data and statistics during this financial recession.</p>
          <p><a href="{{url_for('finance')}}" target="_blank"
                class="btn mainbutton">Learn More »</a></p>
      </div>
  </div>
</div>

{% endblock %}
